engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
save-exact=true
lockfile=true
shared-workspace-lockfile=true
manage-package-manager-versions=false
verify-deps-before-run=false
